main/Microsoft.Practices.ServiceLocation/bin/
main/Microsoft.Practices.ServiceLocation/obj/
main/Microsoft.Practices.ServiceLocation/project.lock.json
main/.vs/
src/commonservicelocator/main/artifacts/
main/ServiceLocation/bin/
project.lock.json
main/ServiceLocation.Tests/obj/
main/ServiceLocation/obj/
main/ServiceLocation.PortableClassLibrary/obj/
artifacts/bin/
main/ServiceLocation.Tests/bin/
main/Unity.ServiceLocator.Tests/bin/
/main/src/Unity.ServiceLocator-CoreClr/obj/
/main/src/Unity.ServiceLocator-CoreClr/bin/
/main/Tests/Unity.ServiceLocator.Tests/bin/
/main/Tests/Unity.ServiceLocator.Tests/obj/

